@use '../base/variables' as v;
@use '../base/mixins' as m;


.footer {
    max-height: 30rem;
}

.media {
    display: flex;
    place-items: center;
    gap: 2rem;
   
    a{
        width: 3rem;
        

        &:hover{
            transform: scale(1.3);
        }
    }
}

.arrow {
    position: fixed;
    bottom:  1rem;
    transform: translateY(5rem);
    opacity: 0;
    right: 1rem;
    transition: all ease .5s;

    &-visible{
        transform: translateY(0);
        opacity: 1;
    }

    &:hover {
        cursor: pointer;
        border-color: red;
    }

}


.visible{
    display: block;
}