@use '../base/variables' as v;
@use '../base/mixins' as m;

.contact {
    display: grid;
    place-items: center;
    width: 95%;
    margin: 2rem auto;
    margin-bottom: 2rem;
    max-width: 40rem;


    &-title {
        margin: 10rem auto;
        @include m.title(2.5rem, blue)
    }


    h4{
        font-size: 2rem;
        color: #00daff;
        margin-bottom: 1rem;
        letter-spacing: 2px;
    }




    p{
        font-size: 1.5rem;
        color: white;
        margin-bottom: 3rem;
        text-align: justify;
        line-height: 2rem;
    }

}

.ml-3{
    margin-left: 3rem;
}