@use '../base/mixins' as m;
@use '../base/variables' as v;


.languages {
    margin-top: 2rem;
    color: white;

    h4 {
        @include m.title(2rem, blue)
    }

    p{
        font-size: 1.5rem;
        letter-spacing: 1px;
    }


    span{
        color: v.$primario;
        text-transform: uppercase;
    }
}


.flag{
    display: flex;
    align-items: center;
    gap: .5rem;

    img{
        width: 4rem;
    }
}