@use '../base/mixins' as m;
.resume {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    position: relative;

    @include m.tablet{
        grid-template-columns: repeat(2, 1fr);

    }

}

