@use '../base/mixins' as m;
@use '../base/variables' as v;

.whatICanDo {
    overflow: hidden;

    h2 {
        @include m.title(2rem, blue);
        margin-bottom: 3rem;
    }


    @include m.tablet {
        margin-left: 1rem;
        padding: 2rem;
    }


    h4 {
        text-transform: uppercase;
        font-size: 2rem;
        color: darken($color: v.$primario , $amount: 10%);
        margin-bottom: 1rem;

    }


    p {
        position: relative;
        font-size: 1.5rem;
        color: white;
        letter-spacing: 1px;
        margin-bottom: 1rem;
        margin-left: 3rem;

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: v.$primario;
            top: .5rem;
            bottom: auto;
            right: 0;
            left: -2rem;
        }
    }

}

.tec {
    min-height: 10rem;
    border: 1px solid v.$azul;
    margin-bottom: 3rem;
    border-radius: 1rem;
    padding: 2rem;


    @include m.tablet {

        &.tec1{
            margin-left: 5%;
        }

        &.tec2 {
            margin-left: 15%;
        }

        &.tec3 {
            margin-left: 25%;
        }

    }

}