@use '../base/mixins' as m;
@use '../base/variables' as v;

.portfolio {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 95%;
    margin: 0 auto;
    position: relative;
    @include m.tablet {
        grid-template-columns: repeat(2, 1fr);
    }
}


//Projects

.project {
    
    position: relative;
    border-radius: .5rem;
    overflow: hidden;
    display: grid;
    place-items: end;
    margin-top: 2rem;

    @include m.tablet{
        margin-right: 2rem;
    }

    img {
        object-fit: cover;
        max-height: 100%;
    }

    //Content Styles

    &:hover {
        .project_content {
            transform: translateY(0);
            opacity: 1
        }
    }

    &_content {
        position: absolute;
        min-height: 50%;
        background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .5));
        transform: translateY(15rem);
        transition: all .7s ease-in-out;
        padding: 2rem;
        opacity: 0;
        color: white;

        h4 {
            @include m.title(2rem, blue);
        }

        ul {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            margin-top: 3rem;

            li {
                width: 33%;
                text-align: center;
                text-transform: uppercase;
                word-spacing: 1px;
                list-style: none;
                font-size: 1.3rem;
                padding: 1rem;
                background-color: rgba($color: v.$primario, $alpha: .8);
                border-radius: 1.5rem;

                &:hover {
                    background-color: darken($color: v.$primario, $amount: 10%);
                }
            }
        }

    }

    &_description {
        font-size: 1.5rem;
        text-align: justify;
    }
}


//Tile

.project_title{
    @include m.title(2.5rem, blue);
    margin: 2rem auto;
}
